

  <!-- Google Tag Manager (noscript) -->

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRF3QQD" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <!-- End Google Tag Manager (noscript) -->

  <!-- ----------------whatshapp-telegram-section----------------- -->
  <div class="inner-social-section d-block">
    <div class="telegramm">
      <a href="https://t.me/valuesmarttradingllc" target="_blank"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <div class="whatshapp">
      <a href="https://wa.me/971568165721" target="_blank"><i class="fab fa-whatsapp"></i></a>

    </div>
  </div>

  <!-- ======= Top Bar ======= -->

  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">

    <div class="container d-flex">

      <div class="contact-info mr-auto">

        <i class="icofont-phone"></i> Phone: +971 55 301 4276 , <i class="icofont-whatsapp"></i>+971 56 816 5721

        <i class="icofont-envelope"></i>Email: <a href="mailto:contact@vstl.ae">contact@vstl.ae</a>

        <i class="icofont-clock-time"></i>Hours: Sat-Thu: 11am – 11pm

      </div>

      <div class="social-links">

        <a href="#" class="">Media</a>

        <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
            class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
            class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
            class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
            class="bx bxl-youtube"></i></a>
        <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>



      </div>

    </div>

  </div>

  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top">

    <div class="container d-flex align-items-center">



      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>



      <nav class="nav-menu d-none d-lg-block">

        <ul>

          <li class="active"><a routerLink="">Home</a></li>

          <li class=""><a routerLink="/about.html">About</a></li>



          <li class=""><a routerLink="/store.html">Store <i class="icofont-shopping-cart"></i></a></li>
          <li class=""><a routerLink="/blogs.html">Blogs</a></li>

          <!--<li class=""><a href="">Clients</a></li>-->

          <li class=""><a routerLink="/contact.html">Contact</a></li>

          <li class="catalogue_btn" data-toggle="modal" data-target="#exampleModal"><a href="#" class="">Get a Quote</a>
          </li>

        </ul>

      </nav><!-- .nav-menu -->



    </div>

  </header>  <!-- End Header -->

  <!-- ======= Testimonials Section ======= -->

  <section id="hero">

    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">



      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>



      <div class="carousel-inner heroslider" role="listbox">



        <!-- Slide 1 -->

        <div class="carousel-item active overlay1"
          style="background-image:linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)),url(assets/img/product/vstl1.jpg)">

          <div class="carousel-container">

            <div class="container">

              <h2 class="animate__animated animate__fadeInDown">Looking for Computer Hardware? Kudos! You have Landed
                Right</h2>

              <p class="animate__animated animate__fadeInUp hidesmall">Sharjah’s biggest supplier of Used Laptops,
                desktops and other components.</p>

              <a href="store.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Visit Store</a>

            </div>

          </div>

        </div>



        <!-- Slide 2 -->

        <div class="carousel-item overlay2"
          style="background-image:linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)),url(assets/img/product/vstl2.jpg);">

          <div class="carousel-container">

            <div class="container">

              <h2 class="animate__animated animate__fadeInDown">Value Smart Trading LLC</h2>

              <p class="animate__animated animate__fadeInUp hidesmall">Sharjah’s biggest supplier of Used Laptops,
                desktops and other components.</p>

              <a href="store.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Visit Store</a>

            </div>

          </div>

        </div>



        <!-- Slide 3 -->

        <div class="carousel-item overlay3"
          style="background-image:linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)),url(assets/img/product/vstl3.jpg)">

          <div class="carousel-container">

            <div class="container">

              <h2 class="animate__animated animate__fadeInDown">Value Smart Trading LLC</h2>

              <p class="animate__animated animate__fadeInUp hidesmall">Sharjah’s biggest supplier of Used Laptops,
                desktops and other components.</p>

              <a href="store.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Visit Store</a>

            </div>

          </div>

        </div>



        <!-- Slide 4 -->

        <div class="carousel-item overlay4" style="background-image: url(assets/img/overly2.jpg)">

          <div class="carousel-container">

            <div class="container">

              <h2 class="animate__animated animate__fadeInDown">Value Smart Trading LLC</h2>

              <p class="animate__animated animate__fadeInUp hidesmall">Sharjah’s biggest supplier of Used Laptops,
                desktops and other components.</p>

              <a href="store.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Visit Store</a>

            </div>

          </div>

        </div>





      </div>



    </div>

  </section>

  <!-- End Hero -->
  <main id="main">

    <!-- ======= Product First Section ======= -->

    <section id="services" class="services">

      <div class="container">
        <div class="section-title">

          <h2>Products</h2>

          <h3 class="custombg">Our Major <span>Products</span></h3>

          <a href="store.html" class="btn-all-product scrollto">All Products</a>

        </div>
      </div>
      <div class="container mt-5">
        <div class="row laptop-slider">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="hero-slider text-center">
              <div class="hero-slider-img">
                <img src="assets/img/vstl/store range size/Desktop hdds.jpg" alt="">
              </div>
              <div class="slider-content">
                <div class="hero-slider-heading">
                  <h4>Used Hard Drive</h4>
                </div>
                <div class="slider-paragraph">
                  <p> With its own unique advantages, the HDDs are still ruling the tech sphere. VSTL offers a
                    comprehensive range of non-volatile Hdds with a greater lifespan at an affordable price.</p>
                </div>
                <div class="side-btn">
                  <a routerLink="/newProduct.html" target="_blank" class="btn btn-primary" type="button">Know
                    More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="hero-slider text-center">
              <div class="hero-slider-img">
                <img src="assets/img/vstl/store range size/Motherboards and graphics.jpg" alt="">
              </div>
              <div class="slider-content">
                <div class="hero-slider-heading">
                  <h4>Used & New Motherboard</h4>
                </div>
                <div class="slider-paragraph">
                  <p> we understand how overwhelming it can be to purchase a motherboard, thus VSTL is poised to provide
                    motherboards of different categories under one roof so that you can upgrade your device under one
                    roof.</p>
                </div>
                <div class="side-btn">
                  <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="hero-slider text-center">
              <div class="hero-slider-img">
                <img src="assets/img/vstl/store range size/cpu.jpg" alt="">
              </div>
              <div class="slider-content">
                <div class="hero-slider-heading">
                  <h4>SecondHand Laptops</h4>
                </div>
                <div class="slider-paragraph">
                  <p>Get immersed in your screen rather than getting distracted from it with high-quality laptops that
                    come with high-end upgraded electronical components.</p>
                </div>
                <div class="side-btn">
                  <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="hero-slider text-center">
              <div class="hero-slider-img">
                <img src="assets/img/vstl/ram (1).jpg" alt="">
              </div>
              <div class="slider-content">
                <div class="hero-slider-heading">
                  <h4>Used & New Memory Modules</h4>
                </div>
                <div class="slider-paragraph">
                  <p>VSTL deals in a complete range of memories starting from DDR1 to DDR4. The company also accepts
                    advance bookings on Memory Modules.</p>
                </div>
                <div class="side-btn">
                  <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="hero-slider text-center">
              <div class="hero-slider-img">
                <img src="assets/img/vstl/ssd (1).jpg" alt="">
              </div>
              <div class="slider-content">
                <div class="hero-slider-heading">
                  <h4>Used & New SSD</h4>
                </div>
                <div class="slider-paragraph">
                  <p>if you are looking to upgrade your device with blazing fast and high performance, we've got you
                    covered. VSTL, computer hardware dealer offers a range of SSDs at globally competitive rates.</p>
                </div>
                <div class="side-btn">
                  <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End why Section -->

    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="inner-media">
            <video loop="true" autoplay="true" controls="false" audio="false">
              <source src="assets/media/value-mart.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="inner-media">
            <video loop="true" autoplay="true" controls="false">
              <source src="assets/media/videoplayback.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>


    <!-- ======= Counts Section ======= -->

    <section id="counts" class="counts">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">

            <div class="count-box count-first">

              <p class="number"><span data-toggle="counter-up">500</span>+</p>

              <p>Customers</p>

            </div>

          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">

            <div class="count-box count-sec">

              <p class="number"><span data-toggle="counter-up">1000</span>+</p>

              <p>Products Range</p>

            </div>

          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">

            <div class="count-box count-third">

              <p class="number"><span data-toggle="counter-up">1</span>M +</p>

              <p>Products Shipped</p>

            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End Counts Section -->



    <!-- start who we are Section -->

    <section id="who" class="who">

      <div class="container" data-aos="fade-up">





        <div class="row">

          <div class="col-lg-7 pt-4 firstsec content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">

            <h3>What we do</h3>

            <h1 class="custombg">Assisting Your Growth With The Right <span>Components</span>.</h1>

            <p>With a consistent development and team of top notch professionals, we provide you a series of effective
              and leading electronic components that will enhance the performance of your device. We not only care about
              components but also manage their disposition in the most sustainable way. Our tech support will assist you
              to choose the superior quality products from the different global vendors under one roof.</p>

            <a href="about.html" class="btn-more-info scrollto">More info</a>

          </div>

          <div class="col-lg-1" data-aos="zoom-out" data-aos-delay="100">

          </div>

          <div class="col-lg-4 secondsec" data-aos="zoom-out" data-aos-delay="100">

            <div class="invest">

              <div class="containtext">

                <h5>Looking for Assistance?</h5>

                <p class="second">With a highly trained team, our customer support is happy to offer you help both pre
                  and post-sales.</p>

                <h4>VIEW MORE <a href="contact.html"><span><i class="icofont-arrow-right"></i></span></a></h4>

              </div>

            </div>

          </div>

        </div>



      </div>



    </section>
    <!-- End who we are Section -->


    <!-- ======= Services Section ======= -->

    <section id="valueproduct" class="valueproduct">

      <div class="container" data-aos="fade-up">



        <div class="section-title">

          <h2>Products</h2>

          <h3 class="custombg">ValueTech <span>Products</span></h3>

          <h5>Authorized Global Supplier And Distributor</h5>

          <a href="store.html" class="btn-all-product scrollto">All Products</a>

        </div>

      </div>

      <div class="container" data-aos="zoom-in">



        <div class="owl-carousel testimonials-carousel">



          <div class="testimonial-item">

            <div class="container">

              <div class="row gy-4">

                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/MSATA.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>MSATA</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/2.5 SATA SSD.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>SSD (2.5 SATA)</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/NVME.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>M.2 NVMe</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/m2 ngff.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>NGFF M.2</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/DDR3.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>DDR 3</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/DDR4.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>DDR 4</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/msata1.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>MSATA</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                  <div class="hero-slider hero-slider-s text-center">
                    <div class="hero-slider-img small-grid">
                      <img src="assets/img/vstl/homepage/2.5 SATA SSD.jpg" alt="">
                    </div>
                    <div class="slider-content slider-content-s">
                      <div class="hero-slider-heading mb-2">
                        <h4>SSD (2.5 SATA)</h4>
                      </div>
                      <div class="side-btn">
                        <a routerLink="newProduct.html" class="btn btn-primary" type="button">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Testimonials Section ======= -->

    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2>WHAT PEOPLE SAY ABOUT US</h2>

          <h3 class="custombg2">People <span>Review</span> For Us</h3>

        </div>

      </div>

      <div class="container" data-aos="zoom-in">



        <div class="owl-carousel testimonials-carousel">



          <div class="testimonial-item">

            <div class="container">

              <div class="row">

                <div class="col-lg-6">

                  <div class="one">

                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                    <img src="assets/img/testimonials/Untitled-3.jpg" class="testimonial-img" alt="">

                    <h3>Adrian Eldes</h3>
                    <div class="flag-section">
                      <img src="assets/img/testimonials/flag/Afghanistan.jpg" alt="">
                      <h4>Afganistan</h4>
                    </div>


                    <p>

                      VSTL has delivered us the unmatched combination of high-performance SSDs and highly reliable hard
                      disks that are perfect for our workstations where most of our devices are engaged in high-end
                      video and photo editing. Their commitment to offering genius solutions has definitely made us
                      their lifelong partner.

                    </p>

                  </div>

                </div>

                <div class="col-lg-6">

                  <div class="one">

                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                    <img src="assets/img/testimonials/Untitled-1.jpg" class="testimonial-img" alt="">

                    <h3>Ashman</h3>
                    <div class="flag-section">
                      <img src="assets/img/testimonials/flag/iaran.png" alt="">
                      <h4>Iran</h4>
                    </div>


                    <p>

                      Highly impressed with their products. They have one of the most comprehensive list of products.
                      They have saved a lot of time as we’ve got solution to all our products under one roof.

                    </p>

                  </div>

                </div>

              </div>

            </div>

          </div>





          <div class="testimonial-item">

            <div class="container">

              <div class="row">

                <div class="col-lg-6">

                  <div class="one">

                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                    <img src="assets/img/testimonials/Untitled-5.jpg" class="testimonial-img" alt="">

                    <h3>Faaris</h3>
                    <div class="flag-section">
                      <img src="assets/img/testimonials/flag/egypt.png" alt="">
                      <h4>Egypt</h4>
                    </div>


                    <p>

                      We’ve had a brilliant experience with their products. VSTL has truly offered versatile, fast, and
                      dependable pro-SSDs and RAM that are super-reliable and compatible with our devices across the
                      organization.

                    </p>

                  </div>

                </div>

                <div class="col-lg-6">

                  <div class="one">

                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                    <img src="assets/img/testimonials/ghana.jpg" class="testimonial-img" alt="">

                    <h3>Emmanuel</h3>
                    <div class="flag-section">
                      <img src="assets/img/testimonials/flag/ghana.png" alt="">
                      <h4>Ghana</h4>
                    </div>

                    <p>

                      We’ve really challenged their thinking but their true professionalism offered us tremendous
                      hardware products. We were not only impressed with how they offered superior quality products but
                      also with the swiftness they acknowledged our problems and offered us technical assistance related
                      to all our hardware needs.

                    </p>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>



      </div>

    </section>


  </main>



  <!-- End #main -->



  <!-- ======= Footer ======= -->

  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">

            <img src="assets/img/footerlogo.png" class="footer-img" alt="vstl-logo-image">

            <h4> VALUE SMART TRADING LLC</h4>

            <p>Driving Profits to Your Door.</p>

          </div>

          <div class="col-lg-3 col-md-6 footer-links">

            <h3>Contact</h3>

            <a href="https://www.google.com/maps/place/Value+Smart+Trading+LLC/@25.3171881,55.4059524,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f595fde87a6b5:0x884d8fe57512586d!8m2!3d25.3171833!4d55.4104371?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Showroom – 6, Roumi Bulding, Industrial Area 5, J&P
                Signal, Sharjah, UAE.</p>
            </a>

            <a href="https://www.google.com/maps/place/Value+smart+trading+llc+warehouse/@25.3223848,55.4090849,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f59e0185e3ce3:0xc1bc3595d029ed15!8m2!3d25.32238!4d55.4112736?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Warehouse - Unit No. 33, Warehouse No. 8, Industrial
                Area
                5, Sharjah, UAE.</p>
            </a>

            <p class="ico"><i class="icofont-ui-message"></i> <a href="mailto:contact@vstl.ae">contact@vstl.ae</a></p>

            <p class="ico"><i class="icofont-phone"></i><a href="tel:+971 55 301 4276"> +971 55 301 4276</a></p>

          </div>

          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Company</h3>

            <h4> <a href="index.html">Home</a></h4>

            <h4> <a href="about.html">About</a></h4>

            <h4> <a href="about.html">Who We Are</a></h4>

            <h4> <a href="store.html">Store</a></h4>

            <h4> <a href="contact.html">Contact Us</a></h4>

          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Quick Links</h3>

            <h4> <a href="contact.html">Help &amp; Support</a></h4>

            <h4> <a href="faq.html">FAQ</a></h4>
            <!-- <h4> <a href="#">Feedback</a></h4> -->

            <!-- <h4> <a href="product.html">Pricing</a></h4> -->

            <div class="social-links mt-3">

              <p>

                <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i
                    class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
                <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
                    class="bx bxl-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
                    class="bx bxl-youtube"></i></a>
                <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i
                    class="bx bxl-telegram"></i></a>

              </p>

            </div>

          </div>



        </div>

      </div>

    </div>

    <div class="bgcol">

      <div class="container">

        <div class="copyright">

          &copy; VSTL 2021. All Rights Reserved. Designed by Flybunch

        </div>

        <div class="credits">

          <a routerLink="/terms&condition.html" class="rightmar">Terms &amp; Conditions</a>

          <a routerLink="/privacypolicy.html">Privacy & Policy</a>

        </div>

      </div>

    </div>

  </footer>

  <!-- End Footer -->



  <!--Modal Code for GET a QUOTE-->
<div id="quite_h"></div>


  <script>

    var itm = document.getElementById('inputitem');

    function checkItem(val) {

      if (val === "Others") {

        document.getElementById('other').style.display = 'block';

        document.getElementById('text').style.display = 'block';

      }

      else {

        document.getElementById('text').value = "";

        document.getElementById('other').style.display = 'none';

        document.getElementById('text').style.display = 'none';

      }

    }

  </script>





  <!-- <div id="preloader"></div> -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>








  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

  <script>
    $('.laptop-slider').slick({
      dots: false,
      infinite: false,
      speed: 350,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  </script>

  <script>
    $('.heroslider').carousel({
      interval: 3000
    })
  </script>

  <script>
    //For Firefox we have to handle it in JavaScript 
    var vids = $("video");
    $.each(vids, function () {
      this.controls = false;
    });
    //Loop though all Video tags and set Controls as false

    $("video").click(function () {
      //console.log(this); 
      if (this.paused) {
        this.play();
      } else {
        this.pause();
      }
    });
  </script>


