<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="utf-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">



  <title>VSTL</title>

  <meta content="" name="description">

  <meta content="" name="keywords">

  <script src="https://www.googletagmanager.com/gtag/js?id=UA-203542660-1">

  </script>

  <!-- Event snippet for Submit lead form conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-339209325"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-339209325');
</script>

<script>
  function gtag_report_conversion() {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-339209325/az90CLXP4IUDEO3Y36EB',
        'event_callback': callback
    });
    return false;
  }

  gtag_report_conversion();
  </script>

  <script>

    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'UA-203542660-1');

  </script>

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>

  <script src="https://cdn.pagesense.io/js/smartvaluetradingllc/442f4d8f8f1b43ebab391f0c8a5a8fb2.js"></script>



  <script>
    !function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '140085718268777'); fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=140085718268777&ev=PageView&noscript=1" />
  </noscript>

  <!-- <iframe width='100%' height='585px' style="margin-top:120px"
    src='https://booking.vstl.ae/portal-embed#/customer/smartvaluetradingllc' frameborder='0' allowfullscreen=''>
  </iframe> -->
 
 
  <!-- Favicons -->

  <link href="assets/img/favicon.png" rel="icon">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">



  <!-- Google Fonts -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" rel="stylesheet" />



  <!--Font Files-->

  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&family=Rubik:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    #teama {

      margin-top: 1rem;

    }

    .form {

      padding: 2rem;

    }

    .form button {

      background: #A62320;

      border: 0;

      padding: 10px 30px;

      color: #fff;

      transition: 0.4s;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 400;

      font-size: 18px;

      margin-top: 30px;

    }

    .form button:hover {

      background-color: #007bff;

    }



    .form input,
    .contact .form textarea {

      border-radius: 0;

      box-shadow: 0 0 30px rgb(214 215 216 / 40%);

      font-size: 16px;

      color: #747474;

      padding: 20px;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 200;

    }

    .bottomsec i {

      color: white
    }



    .bottomsec a {

      color: white;

    }

    .bottomsec p {

      font-size: 16px;

    }

    .bottomsec h4 {

      margin-bottom: 2rem;

    }
  </style>

</head>



<body>

  <!-- ----------------whatshapp-telegram-section----------------- -->
  <div class="inner-social-section d-block">
    <div class="telegramm">
      <a href="https://t.me/valuesmarttradingllc" target="_blank"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <div class="whatshapp">
      <a href="https://wa.me/971568165721" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>



  <!-- ======= Top Bar ======= -->

  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">

    <div class="container d-flex">

      <div class="contact-info mr-auto">

        <i class="icofont-phone"></i> Phone: +971 55 301 4276 , <i class="icofont-whatsapp"></i>+971 56 816 5721

        <i class="icofont-envelope"></i>Email: <a href="mailto:contact@vstl.ae">contact@vstl.ae</a>

        <i class="icofont-clock-time"></i>Hours: Sat-Thu: 11am – 11pm

      </div>

      <div class="social-links">

        <a href="#" class="">Media</a>

        <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
            class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
            class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
            class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
            class="bx bxl-youtube"></i></a>
        <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>


      </div>

    </div>

  </div>



  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top">

    <div class="container d-flex align-items-center">



      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>



      <nav class="nav-menu d-none d-lg-block">

        <ul>

          <li class=""><a routerLink="">Home</a></li>

          <li class=""><a routerLink="/about.html">About</a></li>



          <li class=""><a routerLink="/store.html">Store <i class="icofont-shopping-cart"></i></a></li>
          <li class=""><a routerLink="/blogs.html">Blogs</a></li>

          <!--<li class=""><a href="">Clients</a></li>-->

          <li class="active"><a routerLink="/contact.html">Contact</a></li>

          <li class="catalogue_btn" data-toggle="modal" data-target="#exampleModal"><a href="#" class="">Get a Quote</a>
          </li>

        </ul>

      </nav><!-- .nav-menu -->



    </div>

  </header>



  <iframe width="100%" height="585px" frameBorder="0" style="margin-top:120px" [src]="urlSafe"></iframe>

  <div id="zf_div_CyfCKt-gr1FuATrwxfwSRd-C08IoKpOAoE-dq-juOPc">
    <iframe width="100%" height="1200px" frameBorder="0" style="margin-top:120px" [src]="zohoUrlSafe"></iframe>
  </div>

  <section id="teama" class="teama">

    <div class="container" data-aos="fade-up">
    </div>

    <div class="container" data-aos="zoom-in">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-sm-6 col-xs-12 boxone content d-flex align-items-stretch aos-init aos-animate">

            <div class="first-box bottomsec">

              <div class="icon">

                <img src="assets/img/logo.png" alt="VSTL" />

                <h4>Value Smart Trading LLC </h4>

                <p>Showroom – 6, Roumi Bulding, Industrial Area 5, J&P Signal, Sharjah, UAE.</p>

                <p>Warehouse - Unit No. 33, Warehouse No. 8, Industrial Area 5, Sharjah, UAE</p>

              </div>

            </div>

          </div>

          <div class="col-lg-4 col-sm-6 col-xs-12 boxone content d-flex align-items-stretch aos-init aos-animate">

            <div class="second-box bottomsec">

              <div class="icon">

                <h4>Join Us</h4>

                <p class="ico"><i class="icofont-ui-message"></i> <a href="mailto:hr@vstl.ae ">hr@vstl.ae </a></p>

              </div>

            </div>

          </div>

          <div class="col-lg-4 col-sm-6 col-xs-12 boxone content d-flex align-items-stretch aos-init aos-animate">

            <div class="third-box bottomsec">

              <div class="icon">

                <h4>Primary Contact Information</h4>

                <p style="color: black;"><i class="icofont-email"></i> <a href="mailto:contact@vstl.ae">contact@vstl.ae</a></p>

                <p><i class="icofont-phone"></i><a href="tel:+971 55 301 4276"> +971 55 301 4276</a></p>

                <p class="link">Follow Us

                  <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i
                      class="bx bxl-twitter"></i></a>
                  <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
                      class="bx bxl-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
                      class="bx bxl-linkedin"></i></a>
                  <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
                      class="bx bxl-facebook"></i></a>
                  <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
                      class="bx bxl-youtube"></i></a>
                  <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i
                      class="bx bxl-telegram"></i></a>


                  <a href="https://api.whatsapp.com/send?phone=+971568165721" class="linkedin"><i
                      class="bx bxl-whatsapp"></i></a>
                </p>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  
  </section>


  <!-- ---------------contact-form-section-start--------------------- -->
  <div id="subscribe"></div>

  <!-- ======= Footer ======= -->

  <footer id="footer">



    <div class="footer-top">

      <div class="container">

        <div class="row">



          <div class="col-lg-3 col-md-6 footer-contact">

            <img src="assets/img/footerlogo.png" class="footer-img" alt="">

            <h4> VALUE SMART TRADING LLC</h4>

            <p>Driving Profits to Your Door.</p>

          </div>



          <div class="col-lg-3 col-md-6 footer-links">

            <h3>Contact</h3>



            <a href="https://www.google.com/maps/place/Value+Smart+Trading+LLC/@25.3171881,55.4059524,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f595fde87a6b5:0x884d8fe57512586d!8m2!3d25.3171833!4d55.4104371?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Showroom – 6, Roumi Bulding, Industrial Area 5, J&P
                Signal, Sharjah, UAE.</p>
            </a>

            <a href="https://www.google.com/maps/place/Value+smart+trading+llc+warehouse/@25.3223848,55.4090849,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f59e0185e3ce3:0xc1bc3595d029ed15!8m2!3d25.32238!4d55.4112736?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Warehouse - Unit No. 33, Warehouse No. 8, Industrial
                Area
                5, Sharjah, UAE.</p>
            </a>

            <p class="ico"><i class="icofont-ui-message"></i> <a href="mailto:contact@vstl.ae">contact@vstl.ae</a></p>

            <p class="ico"><i class="icofont-phone"></i><a href="tel:+971 55 301 4276"> +971 55 301 4276</a></p>



          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Company</h3>

            <h4> <a href="index.html">Home</a></h4>

            <h4> <a href="about.html">About</a></h4>

            <h4> <a href="about.html">Who We Are</a></h4>

            <h4> <a href="store.html">Store</a></h4>

            <h4> <a href="contact.html">Contact Us</a></h4>

          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Quick Links</h3>

            <h4> <a href="contact.html">Help &amp; Support</a></h4>

            <h4> <a href="faq.html">FAQ</a></h4>
            <!-- <h4> <a href="#">Feedback</a></h4> -->

            <!-- <h4> <a href="product.html">Pricing</a></h4> -->

            <div class="social-links mt-3">

              <p>

                <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i
                    class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
                <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
                    class="bx bxl-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
                    class="bx bxl-youtube"></i></a>
                <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i
                    class="bx bxl-telegram"></i></a>

              </p>

            </div>

          </div>



        </div>

      </div>

    </div>

    <div class="bgcol">

      <div class="container">

        <div class="copyright">

          &copy; VSTL 2021. All Rights Reserved. Designed by Flybunch

        </div>

        <div class="credits">

          <a routerLink="/terms&condition.html" class="rightmar">Terms &amp; Conditions</a>

          <a routerLink="/privacypolicy.html">Privacy & Policy</a>

        </div>

      </div>

    </div>

  </footer>

  <!-- End Footer -->



  <!--Modal Code for GET a QUOTE-->

  <div id="quite_h"></div>


  <script>

    var itm = document.getElementById('inputitem');

    function checkItem(val) {

      if (val === "Others") {

        document.getElementById('other').style.display = 'block';

        document.getElementById('text').style.display = 'block';

      }

      else {

        document.getElementById('text').value = "";

        document.getElementById('other').style.display = 'none';

        document.getElementById('text').style.display = 'none';

      }

    }

  </script>



  <!-- <div id="preloader"></div> -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



  
  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>



</body>



</html>