<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">



  <title>VSTL</title>

  <meta content="" name="description">

  <meta content="" name="keywords">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-203542660-1">

  </script>

  <script>

    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'UA-203542660-1');

  </script>

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>

  <script src="https://cdn.pagesense.io/js/smartvaluetradingllc/442f4d8f8f1b43ebab391f0c8a5a8fb2.js"></script>



  <!-- Facebook Pixel Code -->
  <script>!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '140085718268777'); fbq('track', 'PageView');</script>
  <noscript> <img height="1" width="1"
      src="https://www.facebook.com/tr?id=140085718268777&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->



  <!-- Favicons -->

  <link href="assets/img/favicon.png" rel="icon">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">



  <!-- Google Fonts -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">





  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" rel="stylesheet" />


  <!--Font Files-->

  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&family=Rubik:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

  <style>
    #main {

      margin-top: 8rem;

    }

    #footer .footer-slider .image-container img {

      width: auto;

      height: 30px;

      /* width:50%; */

    }

    .form {

      padding: 2rem;

    }

    .form button {

      background: #A62320;

      border: 0;

      padding: 10px 30px;

      color: #fff;

      transition: 0.4s;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 400;

      font-size: 18px;

      margin-top: 30px;

    }

    .form button:hover {

      background-color: #007bff;

    }



    .form input,
    .contact .form textarea {

      border-radius: 0;

      box-shadow: 0 0 30px rgb(214 215 216 / 40%);

      font-size: 16px;

      color: #747474;

      padding: 20px;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 200;

    }
  </style>

</head>

<body>

  <!-- ----------------whatshapp-telegram-section----------------- -->
  <div class="inner-social-section d-block">
    <div class="telegramm">
      <a href="https://t.me/valuesmarttradingllc" target="_blank"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <div class="whatshapp">
      <a href="https://wa.me/971568165721" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>


  <!-- ======= Top Bar ======= -->

  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">

    <div class="container d-flex">

      <div class="contact-info mr-auto">

        <i class="icofont-phone"></i> Phone: +971 55 301 4276 , <i class="icofont-whatsapp"></i>+971 56 816 5721

        <i class="icofont-envelope"></i>Email: <a href="mailto:contact@vstl.ae">contact@vstl.ae</a>

        <i class="icofont-clock-time"></i>Hours: Sat-Thu: 11am – 11pm

      </div>

      <div class="social-links">

        <a href="#" class="">Media</a>

        <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
            class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
            class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
            class="bx bxl-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
            class="bx bxl-youtube"></i></a>
        <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>

      </div>

    </div>

  </div>



  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top">

    <div class="container d-flex align-items-center">



      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>



      <nav class="nav-menu d-none d-lg-block">

        <ul>

          <li class=""><a routerLink="">Home</a></li>

          <li class=""><a routerLink="/about.html">About</a></li>



          <li class="active"><a routerLink="/store.html">Store <i class="icofont-shopping-cart"></i></a></li>
          <li class=""><a routerLink="/blogs.html">Blogs</a></li>

          <!--<li class=""><a href="">Clients</a></li>-->

          <li class=""><a routerLink="/contact.html">Contact</a></li>

          <li class="catalogue_btn" data-toggle="modal" data-target="#exampleModal"><a href="#" class="">Get a Quote</a>
          </li>

        </ul>

      </nav><!-- .nav-menu -->



    </div>

  </header>
  <!-- End Header -->


  <!-- hero section start -->
  <div class="container-fluid store-section">
    <div class="row">
      <div class="col-12">
        <div class="inner-content">
          <div class="store-heading">
            <h1>VALUE SMART TRADING LLC</h1>
            <div class="store-paragraph">
              <p>Sharjah's Biggest Supplier Of Used Laptops, Desktops & Components.</p>
            </div>
          </div>
          <div class="store-main-btn">
            <a href="about.html" class="btn btn-primary" type="button">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hero section end -->


  <!-- offer section start -->
  <div class="container offer-section">
    <div class="row m-0">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-offer-section contact-section">
          <div class="contact-heading">
            <h3>Contact Us</h3>
          </div>
          <form action="">
            <div class="store-input">
              <input type="text" id="name" name="" placeholder="Name">
              <p id="s_name" class="errorText"></p>
            </div>
            <div class="store-input">
              <input type="text" id="phone" name="" placeholder="Phone" >
              <p id="p_name" class="errorText"></p>
            </div>
            <div class="store-input">
              <input type="text" id="email" name="" placeholder="Email">
              <p id="e_name" class="errorText"></p>
            </div>
            <div class="store-input">
              <input type="text" id="location" name="location" placeholder="Location" />
              <p id="l_name" class="errorText"></p>
            </div>
            <div class="store-input">
              <input type="text" id="company" name="" placeholder="Compnay">
              <p id="c_name" class="errorText"></p>
            </div>
            <div class="store-input">
              <input type="text" id="quantity" name="" placeholder="Quantity">
              <p id="q_name" class="errorText"></p>
            </div>
            <div class="store-btn">
              <button type="button" onclick="onSubmit()">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-offer-section offer-box">
          <div class="inner-images">
            <a href="https://wa.me/971568165721" target="_blank"><img src="/assets/img/store/web1.jpg" alt=""></a>
          </div>
          <div class="inner-offer-content">
            <div class="inn-heading">
              <!-- <h2>OFFER</h2> -->
            </div>
            <div class="inn-paragraph">
              <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae, odit illo sunt impedit veniam
                animi natus harum id ex?</p> -->
            </div>
            <!-- <div class="offer-btn">
              <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" type="button">Know More</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-offer-section offer-box">
          <div class="inner-images" data-toggle="modal" data-target="#exampleModal">
            <img src="assets/img/store/web2.jpg" alt="">
          </div>
          <div class="inner-offer-content">
            <div class="inn-heading">
              <!-- <h2>OFFER</h2> -->
            </div>
            <div class="inn-paragraph">
              <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae, odit illo sunt impedit veniam
                animi natus harum id ex?</p> -->
            </div>
            <!-- <div class="offer-btn">
              <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"  type="button">Know More</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- offer section end -->


  <!-- product section start -->
  <div class="container our-product mt-5 mb-5">
    <div class="product-heading text-center mb-5">
      <h2>Our Products</h2>
      <p>Driving Profits To Your Door.</p>
    </div>
    <div class="row m-0">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="inner-product-img">
          <img src="assets/img/product/pulled.jpg" alt="">
          <div class="inner-side-content text-center">
            <div class="side-heading">
              <h3>Used/Pulled</h3>
            </div>
            <div class="side-btn">
              <a routerLink="/usedProduct" class="btn btn-primary" type="button">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="inner-product-img">
          <img src="assets/img/product/NEw.jpg" alt="">
          <div class="inner-side-content text-center">
            <div class="side-heading">
              <h3>Brand New</h3>
            </div>
            <div class="side-btn">
              <a href="newProduct.html" class="btn btn-primary" type="button">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- product section end -->


  <!-- ======= Footer ======= -->

  <footer id="footer">



    <div class="footer-top">

      <div class="container">

        <div class="row">



          <div class="col-lg-3 col-md-6 footer-contact">

            <img src="assets/img/footerlogo.png" class="footer-img" alt="">

            <h4>VALUE SMART TRADING LLC</h4>

            <p>Driving Profits to Your Door.</p>

          </div>



          <div class="col-lg-3 col-md-6 footer-links">

            <h3>Contact</h3>



            <a href="https://www.google.com/maps/place/Value+Smart+Trading+LLC/@25.3171881,55.4059524,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f595fde87a6b5:0x884d8fe57512586d!8m2!3d25.3171833!4d55.4104371?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Showroom – 6, Roumi Bulding, Industrial Area 5, J&P
                Signal, Sharjah, UAE.</p>
            </a>

            <a href="https://www.google.com/maps/place/Value+smart+trading+llc+warehouse/@25.3223848,55.4090849,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f59e0185e3ce3:0xc1bc3595d029ed15!8m2!3d25.32238!4d55.4112736?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Warehouse - Unit No. 33, Warehouse No. 8, Industrial
                Area
                5, Sharjah, UAE.</p>
            </a>

            <p class="ico"><i class="icofont-ui-message"></i> <a href="mailto:contact@vstl.ae">contact@vstl.ae</a></p>

            <p class="ico"><i class="icofont-phone"></i><a href="tel:+971 55 301 4276"> +971 55 301 4276</a></p>



          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Company</h3>

            <h4> <a href="index.html">Home</a></h4>

            <h4> <a href="about.html">About</a></h4>

            <h4> <a href="about.html">Who We Are</a></h4>

            <h4> <a href="store.html">Store</a></h4>

            <h4> <a href="contact.html">Contact Us</a></h4>

          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Quick Links</h3>

            <h4> <a href="contact.html">Help &amp; Support</a></h4>

            <h4> <a href="faq.html">FAQ</a></h4>
            <!-- <h4> <a href="#">Feedback</a></h4> -->

            <!-- <h4> <a href="product.html">Pricing</a></h4> -->

            <div class="social-links mt-3">

              <p>

                <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i
                    class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
                <a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
                    class="bx bxl-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
                    class="bx bxl-youtube"></i></a>
                <a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i
                    class="bx bxl-telegram"></i></a>

              </p>

            </div>

          </div>



        </div>

      </div>

    </div>

    <div class="bgcol">

      <div class="container">

        <div class="copyright">

          &copy; VSTL 2021. All Rights Reserved. Designed by Flybunch

        </div>

        <div class="credits">

          <a routerLink="/terms&condition.html" class="rightmar">Terms &amp; Conditions</a>

          <a routerLink="/privacypolicy.html">Privacy & Policy</a>

        </div>

      </div>

    </div>

  </footer>

  <!-- End Footer -->



  <!--Modal Code for GET a QUOTE-->

  <!-- ------------social-media-section-------------- -->
  <div class="social-media-section">
    <ul>
      <li><a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" target="_blank"><img
            src="assets/img/social_media/facebook.png" alt=""></a></li>
      <li><a href="https://www.linkedin.com/company/vstl-ae/" target="_blank"><img
            src="assets/img/social_media/inlinked.png" alt=""></a></li>
      <li><a href="https://www.instagram.com/vstl_uae/" target="_blank"><img src="assets/img/social_media/instagram.png"
            alt=""></a></li>
      <li><a href="https://t.me/valuesmarttradingllc" target="_blank"><img src="assets/img/social_media/telegram.png"
            alt=""></a></li>
      <li><a href="https://twitter.com/vstl_uae" target="_blank"><img src="assets/img/social_media/twitter.png"
            alt=""></a></li>
      <li><a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" target="_blank"><img
            src="assets/img/social_media/youtube.png" alt=""></a></li>
    </ul>
  </div>

  <div id="quite_h"></div>


  <script>

    var itm = document.getElementById('inputitem');

    function checkItem(val) {

      if (val === "Others") {

        document.getElementById('other').style.display = 'block';

        document.getElementById('text').style.display = 'block';

      }

      else {

        document.getElementById('text').value = "";

        document.getElementById('other').style.display = 'none';

        document.getElementById('text').style.display = 'none';

      }

    }

  </script>

  <!-- <div id="preloader"></div> -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



  
  

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>

  <script src="js/validation.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

  <script>
    $('.laptop-slider').slick({
      dots: false,
      infinite: false,
      speed: 350,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  </script>



</body>



</html>