<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="utf-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">



  <title>VSTL</title>

  <meta content="" name="description">

  <meta content="" name="keywords">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-203542660-1">

  </script>

  <script>

    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'UA-203542660-1');

  </script>

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>

  <script src="https://cdn.pagesense.io/js/smartvaluetradingllc/442f4d8f8f1b43ebab391f0c8a5a8fb2.js"></script>



  <!-- Facebook Pixel Code -->
  <script>!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '140085718268777'); fbq('track', 'PageView');</script>
  <noscript> <img height="1" width="1"
      src="https://www.facebook.com/tr?id=140085718268777&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->



  <!-- Favicons -->

  <link href="assets/img/favicon.png" rel="icon">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">



  <!-- Google Fonts -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">







  <!-- Template Main CSS File -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" rel="stylesheet" />

  



  <!--Font Files-->

  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&family=Rubik:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .faq-list p {

      color: #343a40 !important;

      font-size: 18px !important;

      font-weight: 500 !important;

    }

    .faq-list ul li {

      margin-bottom: -2rem;

    }

    .faq-list ul #last-li {

      margin-bottom: .8rem;

    }

    .form {

      padding: 2rem;

    }

    .form button {

      background: #A62320;

      border: 0;

      padding: 10px 30px;

      color: #fff;

      transition: 0.4s;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 400;

      font-size: 18px;

      margin-top: 30px;

    }

    .form button:hover {

      background-color: #007bff;

    }



    .form input,
    .contact .form textarea {

      border-radius: 0;

      box-shadow: 0 0 30px rgb(214 215 216 / 40%);

      font-size: 16px;

      color: #747474;

      padding: 20px;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 200;

    }
  </style>

</head>



<body>

  <!-- ----------------whatshapp-telegram-section----------------- -->
  <div class="inner-social-section d-block">
    <div class="telegramm">
      <a href="https://t.me/valuesmarttradingllc" target="_blank"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <div class="whatshapp">
      <a href="https://wa.me/971568165721" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>


  <!-- ======= Top Bar ======= -->

  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">

    <div class="container d-flex">

      <div class="contact-info mr-auto">

        <i class="icofont-phone"></i> Phone: +971 55 301 4276 , <i class="icofont-whatsapp"></i>+971 56 816 5721

        <i class="icofont-envelope"></i>Email: <a href="mailto:contact@vstl.ae">contact@vstl.ae</a>

        <i class="icofont-clock-time"></i>Hours: Sat-Thu: 11am – 11pm

      </div>

      <div class="social-links">

        <a href="#" class="">Media</a>

        <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
<a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
<a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
        class="bx bxl-facebook"></i></a>
<a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
        class="bx bxl-youtube"></i></a>
<a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>



      </div>

    </div>

  </div>



  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top">

    <div class="container d-flex align-items-center">



      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>



      <nav class="nav-menu d-none d-lg-block">

        <ul>

          <li class=""><a routerLink="">Home</a></li>

          <li class="active"><a routerLink="/about.html">About</a></li>



          <li class=""><a routerLink="/store.html">Store <i class="icofont-shopping-cart"></i></a></li>
          <li class=""><a routerLink="/blogs.html">Blogs</a></li>

          <!--<li class=""><a href="">Clients</a></li>-->

          <li class=""><a routerLink="/contact.html">Contact</a></li>

          <li class="catalogue_btn" data-toggle="modal" data-target="#exampleModal"><a href="#" class="">Get a Quote</a>
          </li>

        </ul>

      </nav><!-- .nav-menu -->



    </div>

  </header> 
  <!-- End Header -->







  <section id="faq" class="faq section-bg">

    <div class="container" data-aos="fade-up">



      <div class="section-title">

        <h2>T & C</h2>

        <h3 class="custombg2">TERMS & <span>CONDITIONS</span></h3>

      </div>



      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

        <p>Welcome to Value Smart Trading LLC, Sharjah’s biggest supplier of Laptops, desktops and other components.</p>

        <p>Value Smart Trading LLC is registered in , Sharjah, UAE. United Arab of Emirates is our country of domicile.
        </p>

        <p>Like other websites, we have a few terms and conditions that apply to all our browsers, users and clients. If
          you disagree with any part or parts of these terms and conditions, we ask that you not use our website or
          services.</p>

        <p>The use of this website is subject to the following terms of use :-</p>

        <ul>

          <li>

            <p>The content of Value Smart Trading LLC is essentially just for general use and information; it’s subject
              to change without notice.</p>

          </li>

          <li>

            <p>Like most websites, vstl.ae uses cookies to monitor browsing preferences. If you do allow cookies to be
              used, some minor personal information may be stored by us.

            </p>

          </li>

          <li>

            <p>We don’t provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or
              suitability of the information and materials found or offered on this website for any particular purpose.
              You acknowledge that such information and materials may contain inaccuracies or errors and we expressly
              exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. Essentially,
              you may occasionally see a typographical error on VSTL.ae, hard as we try to keep them from happening!

            </p>

          </li>

          <li>

            <p>Your use of any information or materials on this website is entirely at your own risk, for which we shall
              not be liable. It’s your responsibility to ensure that any products, services or information available
              through this website meet your specific requirements.

            </p>

          </li>

          <li>

            <p>

              Vstl.ae contains material which is owned by or licensed to us. This material includes, but is not limited
              to, our design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance
              with the copyright notice, which forms part of these terms and conditions.

            </p>

          </li>

          <li id="last-li">

            <p>Unauthorized use of Value Smart Trading LLC Rarely, an order may not be processed for various reasons
              like stock issues or wrong price … etc. Value Smart Trading LLC reserves the right to refuse or cancel any
              order for any reason at any given time.</p>

          </li>

        </ul>

        <h6>Eligibility for Membership 

        </h6>

        <p>Minors under the age of 18 are prohibited to register as a User of this website and are not allowed to
          transact or use the website.</p>

        <h6>Online Payments </h6>

        <p>

          If you make a payment for our products or services on our website, the details you are asked to submit will be
          provided directly to our payment provider via a secured connection. 

        </p>

        <h6>Ammendments To This User Agreement

        </h6>

        <p>You acknowledge and agree that shall endeavor to give you notice for any amendment to this User Agreement
          that materially increases your obligations or decreases your rights. You acknowledge and agree that we, at our
          sole discretion and without liability, may make amendments at any time with immediate effect by posting a
          notice of the amendment on alwahacomputer.com.

        </p>

        <h6>

          Applicable Law And Jurisdiction

        </h6>

        <p>These Terms and Conditions shall be interpreted and governed by the laws in force in Sharjah, United Arab
          Emirates. Subject to the Arbitration section below, each party hereby agrees to submit to the jurisdiction of
          the courts of Sharjah and to waive any objections based upon venue.</p>



        

      </ul>



    </div>

  </section>







  <!-- ======= Footer ======= -->

  <footer id="footer">



    <div class="footer-top">

      <div class="container">

        <div class="row">



          <div class="col-lg-3 col-md-6 footer-contact">

            <img src="assets/img/footerlogo.png" class="footer-img" alt="">

            <h4> VALUE SMART TRADING LLC</h4>

            <p>Driving Profits to Your Door.</p>

          </div>



          <div class="col-lg-3 col-md-6 footer-links">

            <h3>Contact</h3>



            <a href="https://www.google.com/maps/place/Value+Smart+Trading+LLC/@25.3171881,55.4059524,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f595fde87a6b5:0x884d8fe57512586d!8m2!3d25.3171833!4d55.4104371?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Showroom – 6, Roumi Bulding, Industrial Area 5, J&P
                Signal, Sharjah, UAE.</p>
            </a>

            <a href="https://www.google.com/maps/place/Value+smart+trading+llc+warehouse/@25.3223848,55.4090849,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f59e0185e3ce3:0xc1bc3595d029ed15!8m2!3d25.32238!4d55.4112736?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Warehouse - Unit No. 33, Warehouse No. 8, Industrial
                Area
                5, Sharjah, UAE.</p>
            </a>

            <p class="ico"><i class="icofont-ui-message"></i> <a href="mailto:contact@vstl.ae">contact@vstl.ae</a></p>

            <p class="ico"><i class="icofont-phone"></i><a href="tel:+971 55 301 4276"> +971 55 301 4276</a></p>



          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Company</h3>

            <h4> <a href="index.html">Home</a></h4>

            <h4> <a href="about.html">About</a></h4>

            <h4> <a href="about.html">Who We Are</a></h4>

            <h4> <a href="store.html">Store</a></h4>

            <h4> <a href="contact.html">Contact Us</a></h4>

          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Quick Links</h3>

            <h4> <a href="contact.html">Help &amp; Support</a></h4>

            <h4> <a href="faq.html">FAQ</a></h4>
            <!-- <h4> <a href="#">Feedback</a></h4> -->

            <!-- <h4> <a href="product.html">Pricing</a></h4> -->

            <div class="social-links mt-3">

              <p>

                <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
<a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
<a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
        class="bx bxl-facebook"></i></a>
<a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
        class="bx bxl-youtube"></i></a>
<a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>

              </p>

            </div>

          </div>



        </div>

      </div>

    </div>

    <div class="bgcol">

      <div class="container">

        <div class="copyright">

          &copy; VSTL 2021. All Rights Reserved. Designed by Flybunch

        </div>

        <div class="credits">

          <a routerLink="/terms&condition.html" class="rightmar">Terms &amp; Conditions</a>

          <a routerLink="/privacypolicy.html">Privacy & Policy</a>

        </div>

      </div>

    </div>

  </footer>

  <!-- End Footer -->



  <!--Modal Code for GET a QUOTE-->


 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Get a Quote</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body">

                <form role="form" class="form">

                    <div class="form-row">

                        <div class="form-group col-md-6 ">

                            <label for="inputName4">Name</label>

                            <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                            <p class="Error" id="NameError"></p>
                        </div>

                        <div class="form-group quite-form col-md-6">

                            <label for="inputPhone">Phone No.</label>

                            <input class="form-control store-inputt" type="tel" id="phone" name="phone"
                                 />
                            <p class="Error" id="PhoneError"></p>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="inputEmail2">Email</label>

                        <input type="email" name="email" class="form-control" id="email">
                        <p class="Error" id="EmailError"></p>

                    </div>

                    <div class="form-group">

                        <label for="inputCompanyname4">Company Name</label>

                        <input type="text" class="form-control" name="company" id="company" >
                        <p class="Error" id="CompanyError"></p>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <label for="inputitem">Item</label>

                            <select id="items" class="form-control"
                                placeholder="Choose" name="item" required>

                                <option selected value="">Please Select</option>

                                <option value="Laptop">Laptop</option>

                                <option value="SSD">SSD</option>

                                <option value="RAM">RAM / Memory</option>

                                <option value="Desktop & Barebones">Desktop & Barebones</option>
                                <option value="CPUs / Processor">CPUs / Processor</option>
                                <option value="Desktop HDDs">Desktop HDDs</option>
                                <option value="Wifi Dongle">Wifi Dongle</option>
                                <option value="Graphics Card">Graphics Card</option>
                                <option value="Motherboard">Motherboard</option>
                                <option value="Mouse & Keyboard">Mouse & Keyboard</option>
                                <option value="Others">Others</option>

                            </select>
                            <p class="Error" id="ItemsError"></p>

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-12">

                            <label for="inputqty">Quantity</label>

                            <input type="text" class="form-control" id="quantity" placeholder="Quantity" >
                            <p class="Error" id="QuantityError"></p>

                        </div>

                    </div>

                    <div class="text-center"><button type="button" onclick="Quite_Form()">Get Quote</button></div>

                </form>

            </div>

        </div>

    </div>

</div>


  <script>

    var itm = document.getElementById('inputitem');

    function checkItem(val) {

      if (val === "Others") {

        document.getElementById('other').style.display = 'block';

        document.getElementById('text').style.display = 'block';

      }

      else {

        document.getElementById('text').value = "";

        document.getElementById('other').style.display = 'none';

        document.getElementById('text').style.display = 'none';

      }

    }

  </script>



  <!-- <div id="preloader"></div> -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



  <!-- Vendor JS Files -->

  <script src="assets/vendor/jquery/jquery.min.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>

  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="assets/vendor/counterup/counterup.min.js"></script>

  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <script src="assets/vendor/aos/aos.js"></script>



  <!-- Template Main JS File -->

  <script src="assets/js/main.js"></script>
  <script src="assets/js/tel.js"></script>

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>



</body>



</html>