<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="utf-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">



  <title>VSTL</title>

  <meta content="" name="description">

  <meta content="" name="keywords">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-203542660-1">

  </script>

  <script>

    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());



    gtag('config', 'UA-203542660-1');

  </script>

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>

  <script src="https://cdn.pagesense.io/js/smartvaluetradingllc/442f4d8f8f1b43ebab391f0c8a5a8fb2.js"></script>



  <!-- Facebook Pixel Code -->
  <script>!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '140085718268777'); fbq('track', 'PageView');</script>
  <noscript> <img height="1" width="1"
      src="https://www.facebook.com/tr?id=140085718268777&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->



  <!-- Favicons -->

  <link href="assets/img/favicon.png" rel="icon">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">



  <!-- Google Fonts -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">




  <!-- Template Main CSS File -->



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" rel="stylesheet" />




  <!--Font Files-->

  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&family=Rubik:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .faq-list p {

      color: #343a40 !important;

      font-size: 18px !important;

      font-weight: 500 !important;

    }

    .faq-list ul li {

      margin-bottom: -2rem;

    }

    .faq-list ul #last-li {

      margin-bottom: .8rem;

    }

    .faq-list h2 {

      font-size: 33px;

      color: #014f86;

      font-weight: 600;

      font-family: "Poppins", sans-serif;

      margin-bottom: 20px;

      margin-top: 2.5rem;

      margin-bottom: 2.5rem;

    }

    .faq-list a {

      display: inline !important;

    }

    .form {

      padding: 2rem;

    }

    .form button {

      background: #A62320;

      border: 0;

      padding: 10px 30px;

      color: #fff;

      transition: 0.4s;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 400;

      font-size: 18px;

      margin-top: 30px;

    }

    .form button:hover {

      background-color: #007bff;

    }



    .form input,
    .contact .form textarea {

      border-radius: 0;

      box-shadow: 0 0 30px rgb(214 215 216 / 40%);

      font-size: 16px;

      color: #747474;

      padding: 20px;

      border-radius: 5px;

      font-family: "Overpass", sans-serif;

      font-weight: 200;

    }
  </style>

</head>



<body>

  <!-- ----------------whatshapp-telegram-section----------------- -->
  <div class="inner-social-section d-block">
    <div class="telegramm">
      <a href="https://t.me/valuesmarttradingllc" target="_blank"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <div class="whatshapp">
      <a href="https://wa.me/971568165721" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>


  <!-- ======= Top Bar ======= -->

  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">

    <div class="container d-flex">

      <div class="contact-info mr-auto">

        <i class="icofont-phone"></i> Phone: +971 55 301 4276 , <i class="icofont-whatsapp"></i>+971 56 816 5721

        <i class="icofont-envelope"></i>Email: <a href="mailto:contact@vstl.ae">contact@vstl.ae</a>

        <i class="icofont-clock-time"></i>Hours: Sat-Thu: 11am – 11pm

      </div>

      <div class="social-links">

        <a href="#" class="">Media</a>

        <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
<a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
<a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
        class="bx bxl-facebook"></i></a>
<a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
        class="bx bxl-youtube"></i></a>
<a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>



      </div>

    </div>

  </div>



  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top">

    <div class="container d-flex align-items-center">



      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>



      <nav class="nav-menu d-none d-lg-block">

        <ul>

          <li class="active"><a href="index.html">Home</a></li>

          <li class=""><a href="about.html">About</a></li>



          <li class=""><a href="store.html">Store <i class="icofont-shopping-cart"></i></a></li>

          <li class=""><a href="blogs.html">Blogs</a></li>

          <!--<li class=""><a href="">Clients</a></li>-->

          <li class=""><a href="contact.html">Contact</a></li>

          <li class="catalogue_btn" data-toggle="modal" data-target="#exampleModal"><a href="#" class="">Get a Quote</a>
          </li>

        </ul>

      </nav><!-- .nav-menu -->



    </div>

  </header>
  <!-- End Header -->







  <section id="faq" class="faq section-bg">

    <div class="container" data-aos="fade-up">



      <div class="section-title">

        <h2>Privacy Policy</h2>

        <h3 class="custombg2">PRIVACY <span>POLICY</span></h3>

      </div>



      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">



        <h6>Who we are</h6>

        <p>Our website address is :- <a href="http://vstl.ae/index.html"> http://vstl.ae/index.html.</a></p>





        <h2>What personal data we collect and why we collect it</h2>







        <h6>Comments</h6>

        <p>When visitors leave comments on the site we collect the data shown in the comments form, and also the
          visitor’s IP address and browser user agent string to help spam detection.</p>

        <p>An anonymized string created from your email address (also called a hash) may be provided to the Gravatar
          service to see if you are using it. The Gravatar service privacy policy is available here :- <a
            href="https://automattic.com/privacy/"> https://automattic.com/privacy/.</a> After approval of your comment,
          your profile picture is visible to the public in the context of your comment.</p>



        <h6>Media</h6>

        <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS)
          included. Visitors to the website can download and extract any location data from images on the website.</p>





        <h2>Contact Forms</h2>







        <h6>Cookies</h6>

        <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies.
          These are for your convenience so that you do not have to fill in your details again when you leave another
          comment. These cookies will last for one year.</p>

        <p>If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies.
          This cookie contains no personal data and is discarded when you close your browser.</p>

        <p>When you log in, we will also set up several cookies to save your login information and your screen display
          choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember
          Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
        </p>

        <p>If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes
          no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>



        <h6>Embedded content from other websites</h6>

        <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content
          from other websites behaves in the exact same way as if the visitor has visited the other website.</p>

        <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor
          your interaction with that embedded content, including tracking your interaction with the embedded content if
          you have an account and are logged in to that website.</p>



        <h6>Terms :- </h6>

        <ul>

          <li>

            The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements
            and standards. Therefore the Customers’ are encouraged to frequently visit these sections in order to be
            updated about the changes on the website. Modifications will be effective on the day they are posted.

          </li><br>

          <li>

            Some of the advertisements you see on the Site are selected and delivered by third parties, such as ad
            networks, advertising agencies, advertisers, and audience segment providers. These third parties may collect
            information about you and your online activities, either on the Site or on other websites, through cookies,
            web beacons, and other technologies in an effort to understand your interests and deliver to you
            advertisements that are tailored to your interests. Please remember that we do not have access to, or
            control over, the information these third parties may collect. The information practices of these third
            parties are not covered by this privacy policy.

          </li><br><br>

        </ul>



        <h6>How long we retain your data</h6>

        <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize
          and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>

        <p>For users that register on our website (if any), we also store the personal information they provide in their
          user profile. All users can see, edit, or delete their personal information at any time (except they cannot
          change their username). Website administrators can also see and edit that information.</p>



        <h6>What rights you have over your data</h6>

        <p>If you have an account on this site, or have left comments, you can request to receive an exported file of
          the personal data we hold about you, including any data you have provided to us. You can also request that we
          erase any personal data we hold about you. This does not include any data we are obliged to keep for
          administrative, legal, or security purposes.</p>



        <h6>Where we send your data</h6>

        <p>Visitor comments may be checked through an automated spam detection service.</p>



        <h6>Your contact information</h6>

        <p>We collect information from you when you register on our site, place an order, subscribe to our newsletter,
          respond to a survey or fill out a form.</p>

        <p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail
          address or phone number.</p>





        <h6>Additional information</h6>

        <p>Any of the information we collect from you may be used in one of the following ways :-</p>

        <ul>

          <li>

            To personalize your experience:<br>

            (your information helps us to better respond to your individual needs)

          </li><br>

          <li>

            To improve our website:<br>

            (we continually strive to improve our website offerings based on the information and feedback we receive
            from you)

          </li><br>

          <li>

            To improve customer service: <br>

            (your information helps us to more effectively respond to your customer service requests and support needs)

          </li><br>

          <li>

            To process transactions:<br>

            Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other
            company for any reason whatsoever, without your consent, other than for the express purpose of delivering
            the purchased product or service requested.

          </li><br>

          <li>

            To send periodic emails:<br>

            The email address you provide for order processing will only be used to send you information and updates
            pertaining to your order.



          </li><br><br>

        </ul>





        <h6>How we protect your data</h6>

        <p>We implement a variety of security measures to maintain the safety of your personal information when you
          place an order or enter, submit, or access your personal information.</p>



        <h6>What data breach procedures we have in place</h6>

        <p>We implement a variety of security measures to maintain the safety of your personal information when you
          place an order or enter, submit, or access your personal information.</p>



        <h6>Contacting Us</h6>

        <p>If there are any questions regarding this privacy policy you may contact us.</p>



        

      </ul>



    </div>

  </section>







  <!-- ======= Footer ======= -->

  <footer id="footer">



    <div class="footer-top">

      <div class="container">

        <div class="row">



          <div class="col-lg-3 col-md-6 footer-contact">

            <img src="assets/img/footerlogo.png" class="footer-img" alt="">

            <h4>SMART VALUE TRADING LLC</h4>

            <p>Driving Profits to Your Door.</p>

          </div>



          <div class="col-lg-3 col-md-6 footer-links">

            <h3>Contact</h3>



            <a href="https://www.google.com/maps/place/Value+Smart+Trading+LLC/@25.3171881,55.4059524,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f595fde87a6b5:0x884d8fe57512586d!8m2!3d25.3171833!4d55.4104371?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Showroom – 6, Roumi Bulding, Industrial Area 5, J&P
                Signal, Sharjah, UAE.</p>
            </a>

            <a href="https://www.google.com/maps/place/Value+smart+trading+llc+warehouse/@25.3223848,55.4090849,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f59e0185e3ce3:0xc1bc3595d029ed15!8m2!3d25.32238!4d55.4112736?hl=en"
              target="_blank">
              <p class="ico"><i class="icofont-google-map"></i> Warehouse - Unit No. 33, Warehouse No. 8, Industrial
                Area
                5, Sharjah, UAE.</p>
            </a>

            <p class="ico"><i class="icofont-ui-message"></i> <a href="mailto:contact@vstl.ae">contact@vstl.ae</a></p>

            <p class="ico"><i class="icofont-phone"></i><a href="tel:+971 55 301 4276"> +971 55 301 4276</a></p>



          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Company</h3>

            <h4> <a href="index.html">Home</a></h4>

            <h4> <a href="about.html">About</a></h4>

            <h4> <a href="about.html">Who We Are</a></h4>

            <h4> <a href="store.html">Store</a></h4>

            <h4> <a href="contact.html">Contact Us</a></h4>

          </div>



          <div class="col-lg-3 col-md-6 footer-links extra">

            <h3>Quick Links</h3>

            <h4> <a href="contact.html">Help &amp; Support</a></h4>

            <h4> <a href="faq.html">FAQ</a></h4>
            <!-- <h4> <a href="#">Feedback</a></h4> -->

            <!-- <h4> <a href="product.html">Pricing</a></h4> -->

            <div class="social-links mt-3">

              <p>

                <a href="https://twitter.com/vstl_uae" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
<a href="https://www.instagram.com/vstl_uae/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
<a href="https://www.linkedin.com/company/vstl-ae/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="https://www.facebook.com/vstl.ae/?ref=pages_you_manage" class="linkedin" target="_blank"><i
        class="bx bxl-facebook"></i></a>
<a href="https://www.youtube.com/channel/UC-M4sgbnKUCUdvSEYdE51qA" class="linkedin" target="_blank"><i
        class="bx bxl-youtube"></i></a>
<a href="https://t.me/valuesmarttradingllc" class="linkedin" target="_blank"><i class="bx bxl-telegram"></i></a>

              </p>

            </div>

          </div>



        </div>

      </div>

    </div>

    <div class="bgcol">

      <div class="container">

        <div class="copyright">

          &copy; VSTL 2021. All Rights Reserved. Designed by Flybunch

        </div>

        <div class="credits">

          <a routerLink="/terms&condition.html" class="rightmar">Terms &amp; Conditions</a>

          <a routerLink="/privacypolicy.html">Privacy & Policy</a>

        </div>

      </div>

    </div>

  </footer>

  <!-- End Footer -->



  <!--Modal Code for GET a QUOTE-->

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Get a Quote</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body">

                <form role="form" class="form">

                    <div class="form-row">

                        <div class="form-group col-md-6 ">

                            <label for="inputName4">Name</label>

                            <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                            <p class="Error" id="NameError"></p>
                        </div>

                        <div class="form-group quite-form col-md-6">

                            <label for="inputPhone">Phone No.</label>

                            <input class="form-control store-inputt" type="tel" id="phone" name="phone"
                                 />
                            <p class="Error" id="PhoneError"></p>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="inputEmail2">Email</label>

                        <input type="email" name="email" class="form-control" id="email">
                        <p class="Error" id="EmailError"></p>

                    </div>

                    <div class="form-group">

                        <label for="inputCompanyname4">Company Name</label>

                        <input type="text" class="form-control" name="company" id="company" >
                        <p class="Error" id="CompanyError"></p>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <label for="inputitem">Item</label>

                            <select id="items" class="form-control"
                                placeholder="Choose" name="item" required>

                                <option selected value="">Please Select</option>

                                <option value="Laptop">Laptop</option>

                                <option value="SSD">SSD</option>

                                <option value="RAM">RAM / Memory</option>

                                <option value="Desktop & Barebones">Desktop & Barebones</option>
                                <option value="CPUs / Processor">CPUs / Processor</option>
                                <option value="Desktop HDDs">Desktop HDDs</option>
                                <option value="Wifi Dongle">Wifi Dongle</option>
                                <option value="Graphics Card">Graphics Card</option>
                                <option value="Motherboard">Motherboard</option>
                                <option value="Mouse & Keyboard">Mouse & Keyboard</option>
                                <option value="Others">Others</option>

                            </select>
                            <p class="Error" id="ItemsError"></p>

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-12">

                            <label for="inputqty">Quantity</label>

                            <input type="text" class="form-control" id="quantity" placeholder="Quantity" >
                            <p class="Error" id="QuantityError"></p>

                        </div>

                    </div>

                    <div class="text-center"><button type="button" onclick="Quite_Form()">Get Quote</button></div>

                </form>

            </div>

        </div>

    </div>

</div>



  <script>

    var itm = document.getElementById('inputitem');

    function checkItem(val) {

      if (val === "Others") {

        document.getElementById('other').style.display = 'block';

        document.getElementById('text').style.display = 'block';

      }

      else {

        document.getElementById('text').value = "";

        document.getElementById('other').style.display = 'none';

        document.getElementById('text').style.display = 'none';

      }

    }

  </script>



  <!-- <div id="preloader"></div> -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



  <!-- Vendor JS Files -->

  <script src="assets/vendor/jquery/jquery.min.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>

  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="assets/vendor/counterup/counterup.min.js"></script>

  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <script src="assets/vendor/aos/aos.js"></script>



  <!-- Template Main JS File -->

  <script src="assets/js/main.js"></script>
  <script src="assets/js/tel.js"></script>

  <script type="text/javascript"
    id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "6b164138048b179848b41e0c996a17f3fbb173be63c892617d67b32dd2fc8f82dbd8350fa365124379ee1ea78b388253", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>



</body>



</html>